ul {
    list-style-type: none;
    /* background: #333; */
    /* display: inline; */
}

li {
    float: left;
    padding: 16px;
}

nav {
    display: inline-flex;
}

article {
    /* display: inline-flex; */
    padding-left: 2.5em;
}

.bookThumbImg {
    float: left;
    object-fit: cover;
    width: 200px;
    height: auto;
    
}

.bookThumbTitle {
    padding-top: 50px;
}

.bookThumbContainer {
    margin: 0.5em;
}

.book-title-details {
    
}

.book-authors-details {

}

.book-img-details {
    width: 400px;
    height: auto;
}

.asideImg {
    float: left;
    margin-right: 50px;
}